   
      
       <nav class="navbar navbar-expand navbar-dark bg-danger"> <a href="#menu-toggle" id="menu-toggle" class="navbar-brand"><span class="navbar-toggler-icon"></span></a> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse" id="navbarsExample02">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>
                  <li class="nav-item"> <a class="nav-link" href="#">Contact</a> </li>
                  
              </ul>
              <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Recherche">
              </form>
             
          </div>
      </nav>
      <div id="wrapper" class="toggled">
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav">
                  <li class="sidebar-brand"> <a href="#"> LCM </a> </li>
                  <li> <a href="#">Gestion de produit</a> </li>
                  <li> <a href="#">Gestion des utilisateurs</a> </li>
                  <li> <a href="#">Gestion des services</a> </li>
                 
              </ul>
          </div> <!-- /#sidebar-wrapper -->
          <!-- Page Content -->
          <div id="page-content-wrapper">
              
          </div> <!-- /#page-content-wrapper -->
      </div> <!-- /#wrapper -->
    

      <script>
        $(function(){
          $("#menu-toggle").click(function(e) {
              e.preventDefault();
              $("#wrapper").toggleClass("toggled");
          });

          $(window).resize(function(e) {
            if($(window).width()<=768){
              $("#wrapper").removeClass("toggled");
            }else{
              $("#wrapper").addClass("toggled");
            }
          });
        });
         
      </script>
 
